<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sebas_pc.resuelvelo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:hardwareAccelerated="false"
        android:largeHeap="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LogueoEmpresario"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.PerfilEmpresario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegistroEmpresario"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.CrearEmpresa"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.CrearIncidencia"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sebas_pc.resuelvelo.view.CrearIncidencia" />
        </activity>
        <activity
            android:name=".view.VerIncidencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LogueoEmpleado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.RegistroEmpleado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.PerfilEmpleado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".view.VerIncidenciaCompleta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PerfilEmpresa"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sebas_pc.resuelvelo.view.PerfilEmpresario" />
        </activity>
        <activity
            android:name=".view.DepartamentoAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EditarPerfilEmpresario"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sebas_pc.resuelvelo.view.PerfilEmpresario" />
        </activity>
        <activity
            android:name=".view.MediaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sebas_pc.resuelvelo.view.PerfilEmpresario" />
        </activity>
        <activity
            android:name=".view.MediaActivity2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sebas_pc.resuelvelo.view.VerIncidenciaEmpleado" />
        </activity>
        <activity android:name=".view.VerIncidenciaEmpleado"
            android:screenOrientation="portrait"/>
    </application>

</manifest>